@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk';
  line-height: 1.4;
  font-weight: var(--fw-medium);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-white: #ffffff;
  --clr-black: #000000;
  --active-input-border: linear-gradient(
      to right,
      hsl(249, 99%, 64%) 0%,
      hsl(278, 94%, 30%) 100%
    )
    border-box;
  --input-errors: hsl(0, 100%, 66%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  --fs-base-s: calc(var(--fs-base) / 1.285);
  --fs-base: 1.125rem;
  --fs-base-l: calc(var(--fs-base) * 1.1);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

a {
  font-weight: var(--fw-medium);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Space Grotesk';
  line-height: 1.4;
  background-color: var(--clr-white);
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  background-color: var(--very-dark-violet);
  border-radius: 0.5rem;
  padding: 1em 1em;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cards-holder {
  background: url('assets/bg-main-mobile.png') center/cover no-repeat;
  padding: 1.875rem 1rem 2.5rem 1rem;
}
.form-holder {
  align-self: self-end;
  margin: 4rem 0 2rem 0;
  padding: 0 1rem 0 1rem;
}

.grid-auto-flow {
  display: grid;
  grid-auto-flow: row;
}
.grid-auto-column {
  display: grid;
  grid-auto-flow: column;
}
.stacked {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.hidden {
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (min-width: 58.75rem) {
  .grid-auto-flow {
    grid-auto-flow: unset;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
    height: 100%;
  }
  .cards-holder {
    background: url('src/assets/bg-main-desktop.png') center/cover no-repeat;
    display: grid;
    place-content: center;
    position: relative;
  }
  .form-holder {
    max-width: 24rem;
    place-self: center;
    width: 100%;
  }
}
